body {
    margin: 0;
    padding: 0;
    background-image: url('berserk.jpg'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    color: #fff; 
}
.logo {
    width: 30px; 
    height: auto; 
    display: inline;
 }
header {
    background-color: #84DCCF;
    color: #000000;
    padding: 10px;
    text-align: center;
}
nav ul li {
    display: inline;
    margin-right: 10px;
}
nav a {
    text-decoration: none;
    color: #fff;
}
main {
    padding: 20px;
}

#contact-form {
    max-width: 600px;
    margin: 0 auto;
}

form {
    display: grid;
    gap: 10px;
}

label {
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #2980b9;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}