body {
    margin: 0;
    padding: 0;
    background-image: url('berserk.jpg'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    color: #fff; 
}
.logo {
    width: 30px; 
    height: auto; 
    display: inline;
 }
header {
    background-color: #84DCCF;
    color: #000000;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 10px;
}

.act {
    width: 100px; 
    height: flex; 
    background-color: #02ff84b4;
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 8px;
    text-align: center;
}
.imgg {
    padding: 20px;
    text-align: center;
}
.contenedor {
      display: flex;
      justify-content: space-between;
    }
    
nav a {
    text-decoration: none;
    color: #fff;
}
main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}